<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <title>Cadastre a tarefa</title>
</head>
<body>
    <h1>Cadastrar tarefa</h1>
    <form action="" method="post">
        Nome: <input type="text" name="nomeForm"><br>
        Tarefa: <input type="text" name="tarefaForm"><br>
        Data de entrega: <input type="date" name="dataForm" id="">
        <input type="submit" value="Cadastrar">
    </form>

</body>
</html>