<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar tarefa</h1>
    <form action="" method='post'>
        NOME: <input type="text" name="nomeForm" value="{{reg.nome}}"><br>
        TAREFA: <input type="text" name="tarefaForm" value="{{reg.tarefa}}"><br>
        DATA: <input type="date" name="dataForm"><br>
        <input type="submit" value="Editar">
    </form>
</body>
</html>