<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Tarefas registradas</h1>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tarefa</th>
                <th>Data de entrega</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for reg in registros %}
            <tr>
                <td>{{ reg.nome }}</td>
                <td>{{ reg.tarefa }}</td>
                <td>{{ reg.data  }}</td>
                <td><a href="/deletar/{{ reg.id }}">Deletar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/cadastrar" class="cadastrar-link">Cadastrar nova tarefa</a>
</body>
</html>
